[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_req
prompt             = no

[ req_distinguished_name ]
C  = UZ
ST = Tashkent
L  = Tashkent
O  = qr-parking
CN = qr-parking

[ req_ext ]
subjectAltName = @alt_names

[ v3_req ]
keyUsage = keyEncipherment, dataEncipherment, keyAgreement, digitalSignature
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = qr-parking
IP.1 = # list your domains or ip addresses here
